CREATE OR REPLACE FUNCTION public.get_support_phone(p_codigo text)
RETURNS text
LANGUAGE plpgsql
SECURITY DEFINER
AS 
DECLARE
    v_license text;
    v_phone text;
BEGIN
    SELECT license_key INTO v_license FROM public.cloud_accounts WHERE codigo_acesso = p_codigo;
    IF v_license IS NULL THEN RETURN NULL; END IF;

    -- Tenta buscar o 'telefone' da tabela licenses
    SELECT telefone INTO v_phone FROM public.licenses WHERE license_key = v_license;
    
    RETURN v_phone;
END;
;
